form{
    display: flex;
    flex-flow: wrap column;
    width: 70%;
    max-width: 500px;
    margin: 1rem;
    align-self: center;
}
#dateForm{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0.5rem;
}
#dateForm h3{
  flex: 3; 
}
input.dateInput {
  flex: 2;
  width: 30%;
}
input.timeInput {
  flex: 1;
  width: 25%;
}
.location-input i {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    cursor: pointer;
    z-index: 1000;
}
.location-input i:hover {
    color: var(--light);
}
.location-input{
    position: relative;
    width: 100%;
}
.fa-dot-cirle{
    padding: 10px; 
    min-width: 40px;
}
input, #searchButton{
    margin: 0.5rem;
    border: 1px solid var(--secondColor);
    border-radius: 5px;
    font-size: 1.5rem;
}
input{
    padding: 1rem;
    text-align: left;
    width: 100%;
}
#searchButton{
    cursor: pointer;
    padding: 0.75rem;
    width: 30%;
    text-align: center;
    align-self: center;
    color: var(--light);
    text-shadow: -1px 0 var(--dark), 0 1px var(--dark), 1px 0 var(--dark), 0 -1px var(--dark);
    background-color: var(--secondColor);
    background-image: linear-gradient(315deg, var(--secondColor) 0%, var(--mainColor) 25%, var(--mainColor) 75%, var(--secondColor) 100%);
}