/* reset default */
* {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}
:root{
    --mainColor: #fddc04;
    --secondColor: #ee790c;
    --greyShade: #868686;
    --dark: #000000;
    --light: #FFFFF0;
    --warning: #c70303;
    --active: #ee790c7d;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
  margin: 2rem auto 2rem auto;
}
h3{
  font-size: 2rem;  
  margin: 2rem auto 2rem auto;  
}
.hide{
    display: none;
}
.container{
    margin: 5%;
    width: 90%;
}
.journey-info{
    padding-top: 3rem;
    padding-top: 2rem;
    margin-bottom: 3rem;
    margin: 1rem auto 1rem auto;
    text-align: center;
}
.place-name{
    text-align: left;
    width: 50%;
}
.row{
    margin: auto;
}
.data-box{
    margin: auto;
    text-align: center;
}
table{
    border-collapse: collapse;
}
.api-table{
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    width: 100%;
}
th{
    background-color: var(--mainColor);
    color: var(--light);
    text-shadow: -1px 0 var(--dark), 0 1px var(--dark), 1px 0 var(--dark), 0 -1px var(--dark);
}
td, th{
    padding: 1rem;
    border: 1px solid var(--secondColor);
    text-align: center;
}
tr{
    width: 100%;
}
.active-transport{
    background-color: var(--active);
}
.no-right-border{
    border-right: hidden;
}
.no-left-border{
    border-left: hidden;
}
.dashed-border{
    border-style: solid dashed solid solid;
}
.left-border-radius{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} 
.right-border-radius{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} 
.transport a{
    cursor: pointer;
    color: var(--secondColor);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.transport a:hover{
    color: var(--mainColor);
    text-shadow: -1px 0 var(--dark), 0 1px var(--dark), 1px 0 var(--dark), 0 -1px var(--dark);
}
.link i {
    padding: 0.5rem;
    font-size: 2rem;
}
.link a{
    color: var(--secondColor);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.link a:hover{
    color: var(--mainColor);
    text-shadow: -1px 0 var(--dark), 0 1px var(--dark), 1px 0 var(--dark), 0 -1px var(--dark);
}

.link a:hover{
    text-decoration: underline;
    text-shadow: -1px 0 var(--dark), 0 1px var(--dark), 1px 0 var(--dark), 0 -1px var(--dark);
}

#map{
    margin-top: 0.5rem;
    max-width: 400px;
    height: 0px;
    border: 1px solid var(--secondColor);
    border-radius: 10px;
}

.weather-table{
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    width: 100%;
    margin-top: 5%;    
}

.weather-table td{
    background-color:rgb(253, 220, 4, 0.5);
    /* border-color: white; */
}

.temp, .pressure, .wet-title{
    font-size: 1.8rem;
    font-weight: 300;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #a9a9a9; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 30px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.red::-webkit-input-placeholder{
    color: var(--warning); /* WebKit, Blink, Edge */
}
.red:-moz-placeholder{
    color: var(--warning); /* Mozilla Firefox 4 to 18 */
}
.red::-moz-placeholder{
    color: var(--warning); /* Mozilla Firefox 19+ */
}
.red::-ms-input-placeholder{
    color: var(--warning); /* Microsoft Edge */
}
.red:-ms-input-placeholder{
    color: var(--warning); /* Internet Explorer 10-11 */
}
.calendar {
    position: fixed;
}
