/* reset default */
* {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}
:root{
    --mainColor: #fddc04f8;
    --secondColor: #ff9531ed;
    --greyShade: #99999999;
    --dark: #000000;
    --light: #fffdecf3;
    --warning: #c70303ec;
}

.container{
    display: none;
}/*
.api-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.journey h2{
    padding-top: 3rem;
    margin-bottom: 3rem;
    margin: 1rem auto 1rem auto;
    text-align: center;
}
tbody{
    margin-bottom: 2rem;
}
td{
    padding: 0.5rem;
}
.value{
    width: 10vw;
    text-align: left;
}
.caption{
    width: 10vw;
    text-align: right;
}
.transport{
    border: 1px solid var(--mainColor);
    width: 5vw;
}
.link{
    border: 1px solid var(--mainColor);
    width: 5vw;
}
    
.link a{
    color: var(--dark);
    text-decoration: none;
    cursor: pointer;
}

.link a:hover{
    text-decoration: underline;
    text-decoration-color: var(--dark);
}
.top{
    border-top: 2px dotted var(--mainColor);
}
.bottom{
    border-bottom: 2px dotted var(--mainColor);
}

#map {
    max-width: 500px;
    height: 0px;
}
*/
