/* reset default */
* {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}
:root{
    --mainColor: #fddc04;
    --secondColor: #ee790c;
    --greyShade: #868686;
    --dark: #000000;
    --light: #FFFFF0;
    --warning: #c70303;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
  margin: 2rem auto 2rem auto;
}
h3{
  font-size: 2rem;  
  margin: 2rem auto 2rem auto;  
}
.container{
    display: none;
    margin: 5%;
    width: 90%;
}
.journey-info{
    padding-top: 3rem;
    padding-top: 2rem;
    margin-bottom: 3rem;
    margin: 1rem auto 1rem auto;
    text-align: center;
}
.place-name{
    text-align: left;
    width: 50%;
}
.row{
    margin: auto;
}
.data-box{
    margin: auto;
    text-align: center;
}
table{
    border-collapse: collapse;
}
.api-table{
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    width: 100%;
}
th{
    background-color: var(--mainColor);
    color: var(--light);
    text-shadow: -1px 0 var(--dark), 0 1px var(--dark), 1px 0 var(--dark), 0 -1px var(--dark);
}
td, th{
    padding: 1rem;
    border: 1px solid var(--secondColor);
    text-align: center;
}
tr{
    width: 100%;
}
.no-right-border{
    border-right: hidden;
}   
.left-border-radius{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} 
.right-border-radius{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} 
.transport a{
    cursor: pointer;
    color: var(--secondColor);
    text-decoration: none;
}
.transport a:hover{
    color: var(--mainColor);
}
.link i {
    font-size: 2rem;
}
.link a{
    color: var(--secondColor);
    text-decoration: none;
    cursor: pointer;
}
.link a:hover{
    color: var(--mainColor);
}

.link a:hover{
    text-decoration: underline;
    text-decoration-color: var(--dark);
}

#map {
    margin-top: 0.5rem;
    max-width: 400px;
    height: 0px;
    border: 1px solid var(--secondColor);
    border-radius: 10px;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px; 
    text-align: center;
}

/* .weather-table {
    width: 70%;
    height: 100px;
    background-color: grey;
}

.weather-table th, .weather-table td {
    text-align: center;
} */

.red::-webkit-input-placeholder{
    color: var(--warning); /* WebKit, Blink, Edge */
}
.red:-moz-placeholder{
    color: var(--warning); /* Mozilla Firefox 4 to 18 */
}
.red::-moz-placeholder{
    color: var(--warning); /* Mozilla Firefox 19+ */
}
.red::-ms-input-placeholder{
    color: var(--warning); /* Microsoft Edge */
}
.red:-ms-input-placeholder{
    color: var(--warning); /* Internet Explorer 10-11 */
}
